*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.btn1
{
    padding: 10px 50px;
    background-color: bisque;
    color: crimson;
    padding-top: 20px;
    text-decoration: none;
}
.btn1:hover
{
    background-color: crimson;
}
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}